* {
  margin: 0;
  padding: 0;
}

body {
  background-color: azure;
  color: rgb(26, 35, 75);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.nav {
  background-color: hsl(211, 59%, 90%);
  color: hsl(240, 100%, 27%);
  font-size: large;
  padding: 10px 15px;
}

p {
  margin: 10px;
}

h1,
h2 {
  color: rgb(27, 35, 148);
  font-weight: 600;
  margin-bottom: 10px;
}

section {
  padding-top: 5px;
  padding-left: 14px;
}

ul li {
  list-style-type: none;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  font-size: 1.125rem;
}

.menu__item--large {
  font-size: 1.25rem;
}

.menu__item:not(:last-child) {
  margin-right: 1rem;
}

#experience p {
  background-color: hsl(211, 59%, 90%);
  color: hsl(240, 100%, 27%);
}

#skills ul {
  color: darkblue;
}

#messages ul {
  color: darkblue;
}

a {
  text-decoration: none;
}

a:hover {
  color: black;
}

button {
  background-color: hsl(240, 100%, 27%);
  border-radius: 10px;
  color: hsl(211, 59%, 90%);
  width: 150px;
  height: 30px;
  margin-bottom: 10px;
  font-size: large;
}

button:hover {
  background-color: black;
}

button:active {
  background-color: rgb(41, 41, 41);
}

form label {
  font-size: large;
  color: hsl(240, 100%, 27%);
}

form textarea {
  font-size: large;
  margin-top: 10px;
  margin-bottom: 5px;
}

form input {
  font-size: large;
  margin-top: 5px;
  margin-bottom: 15px;
}

.container {
  padding: 0;
  margin: 0;
  width: 100vw;
}

.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.tag {
  display: inline-block;
  padding: 5px 15px;
  margin-bottom: 5px;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 3px;
}

.field--inline {
  display: inline-block;
}

.field__label,
.field__input {
  display: block;
}

.field__label {
  font-weight: 600;
  margin-bottom: 3px;
}

footer {
  background-color: hsl(211, 59%, 90%);
  color: hsl(240, 100%, 27%);
  text-align: center;
  font-size: large;
  padding: 5px;
}

@media screen and (min-width: 768px) {
  .card {
    flex-direction: row;
    justify-content: space-between;
  }

  .field {
    width: 32rem;
  }

  .field--inline {
    width: 16rem;
  }
}
